.grid {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 100px;
    border: solid 1px black;
}

.row {
    display: flex;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

.btn {
    padding: 12px 28px;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 1rem;
}

.btn {
    transition-duration: 0.4s;
  }
  
.btn:hover {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.result {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}