*{
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  flex-wrap: wrap;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(45deg, #FC466B, #3F5EFB); 
  height: 100vh; 
}